/* src/styles/main.scss */
$primary-color: #ff6600;

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

h1 {
  color: $primary-color;
}

#header {
  background-color: pink;
}